<!-- Page Content -->
<section class="home">


  <div class="new12">
    <div class="page">
      <img src="assets\images\vocallocal3.jpg" alt="">
      <div class="handtext">
        <h1>EK HAATH LOCAL KE SAATH</h1>
      </div>
    </div>
  </div>


</section>






<section class="ourservice">
  <h1 id="butto" class="hprimarycenter">Our Services</h1>
</section>
<section class="servicescon">
  <div id="services">
    <div class="box">
      <img src="assets\images\tabsmallbusiness.jpg" alt="">
      <h2 class="hsecond">SMALL BUSINESS</h2>
      <p class="textc">Register your small business with SABKI DUKAN to give it a peak rise. </p>
    </div>
    <div class="box">
      <img src="assets\images\tablocalshop.jpg" alt="">
      <h2 class="hsecond">LOCAL JOBS</h2>
      <p class="textc">Local jobs for daily wage workers.SABKI DUKAN tries to give more opputunities to daily workers by providing them jobs.</p>
    </div>
    <div class="box">
      <img src="assets\images\tabsupportwomen.jpg" alt="">
      <h2 class="hsecond">SUPPORT TO WOMEN</h2>
      <p class="textc">"Ab hum bhi piche nhi rhenge" --proud women working with SABKI DUKAN</p>
    </div>
  </div>
</section>



<section class="ourservice1">

  <h1 id="butto1" class="hprimarycenter1">LOCAL JOBS</h1>
</section>
<section class="servicescon1">
  <div id="services1">
    <div class="box1">


      <p class="textc1">If you are a daily wage worker like electrician ,mason etc. Post your job and details Here. </p>
      <h2 class="hsecond1">POST A JOB</h2>

      <div class="form">
        <div class="title">POST A JOB</div>
        <div class="subtitle"></div>
        <div class="input-container ic1">
          <input id="firstname" class="input" type="text" placeholder="First name " />
          <div class="cut"></div>
          <label for="firstname" class="placeholder">First name</label>
        </div>
        <div class="input-container ic2">
          <input id="lastname" class="input" type="text" placeholder=" Last name" />
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Last name</label>
        </div>
        <div class="input-container ic2">
          <input id="email" class="input" type="text" placeholder=" Skill" />
          <div class="cut cut-short"></div>
          <label for="skill" class="placeholder">Skill</label>
        </div>
        <button type="text" class="submit">submit</button>
      </div>
    </div>
    <div class="box1">


      <p class="textc1">If you are looking for a person to work at your home for any need,contact here, also specify
        your available time.</p>
      <h2 class="hsecond1">LOOKING FOR A LABOUR</h2>

      <div class="form">
        <div class="title">LOOKING FOR A LABOUR</div>
        <div class="subtitle"></div>
        <div class="input-container ic1">
          <input id="firstname" class="input" type="text" placeholder="Required Skill " />
          <div class="cut"></div>
          <label for="firstname" class="placeholder">Required Skill</label>
        </div>
        <div class="input-container ic2">
          <input id="lastname" class="input" type="text" placeholder=" Available timings" />
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Available timings</label>
        </div>
        <div class="input-container ic2">
          <input id="email" class="input" type="text" placeholder="Required in emergency or not " />
          <div class="cut cut-short"></div>
          <label for="skill" class="placeholder">Required in emergency or not </label>
        </div>
        <button type="text" class="submit">submit</button>
      </div>
    </div>

  </div>
</section>


<section class="ourservice2">
  <h1 id="butto2" class="hprimarycenter2">SMALL BUSINESS</h1>
</section>
<section class="servicescon2">
  <div id="services2">
    <div class="box2">
      <img src="assets\images\need.jpg" alt="">
      <h2 class="hsecond2">NEED SKILLED LABBOUR</h2>
      <p class="textc2">If you need any skilled labour for your business than you can contact us. </p>
    </div>
    <div class="box2">
      <img src="assets\images\promote.webp" alt="">
      <h2 class="hsecond2">PROMOTE YOUR BUSINESS</h2>
      <p class="textc2">Promote your business by putting advertisements on our site and make your small business grow.
      </p>
    </div>
    <div class="box2">
      <img src="assets\images\start.jpg" alt="">
      <h2 class="hsecond2">START BUSINESS</h2>
      <p class="textc2">If you want to start your own business and need any kind of help , Just contact us.</p>
    </div>
  </div>
</section>

<section class="ourservice3">
  <h1 id="butto" class="hprimarycenter3">SUPPORT TO WOMEN</h1>
</section>
<section class="servicescon3">
  <div id="services3">
    <div class="box3">
      <img src="assets\images\support.jpg" alt="">
      <h2 class="hsecond3">Our Small Help to WOMEN</h2>
      <p class="textc3">As we have seen nowadays ladies are trying to establish their own business be it on small scale
        than our website can help them in growing it as they can upload their products their and whoever likes can
        directly contact them. Also we are collaborating with NGO's to give training to women for their better future.</p>
    </div>

  </div>
</section>


<div class="testimonials">
  <div class="testimonial-inner">
    <h1>What people say about us?</h1>
    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img
            src="https://images.pexels.com/photos/3211476/pexels-photo-3211476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="">
          <div class="name">Karandeep Singh</div>

          <p>Sabki Dukan has bought my business to next level.Earlier my carpentry shop was only limited to some
            customers but now coustmers from all over my city contact me. This website has helped my business to grow
            and has given me many opportunities.It is a perfect platform for common masses as well as entrepreneur
            .</p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img
            src="https://images.pexels.com/photos/3585325/pexels-photo-3585325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="">
          <div class="name">Disha Sharma</div>

          <p>LFrom a small room in my house to a shop, my business grew just because of Sabki Dukan,now I feel proud to
            be a women entrepreneur at Sabki Dukan.
            .</p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img
            src="https://images.pexels.com/photos/2690323/pexels-photo-2690323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="">
          <div class="name">Madhuban Creations</div>

          <p>When i started my small craft business, I never thought i would grow to this level and this was only
            possible because of Sabki Dukan. It is a great platform for all small business holders and i suggest each
            and every person to be a part of this community.</p>
        </div>
      </div>
    </div>
  </div>
</div>